---
import WidgetLayout from './WidgetLayout.astro';
import ButtonLink from '../ui/ButtonLink.astro';
import { getCategoryList } from '../../utils/content-utils';

const categories = await getCategoryList();

interface Props {
	class?: string;
}

const className = Astro.props.class;
---

<WidgetLayout id="categories-widget" name="Categories" class={className}>
	<div class="flex flex-col">
		{categories.map((category) => (
			<ButtonLink
				url={`/posts?category=${encodeURIComponent(category.name)}`}
				badge={String(category.count)}
				label={`View all posts in the ${category.name} category`}
			>
				{category.name}
			</ButtonLink>
		))}
	</div>
</WidgetLayout>
